@CHARSET "UTF-8";

body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

.dialog label {
	width:90px;
    float:left;
}

.dialog .field {
	width:170px;	
}

#calendar {
	width: 900px;
	margin: 0 auto;
}