@CHARSET "UTF-8";

body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

.dialog label {
	width:90px;
    float:left;
}

.dialog .field {
	width:170px;	
}

#productDialog .numberOfSlots {
    width:25px;    
}

#calendar {
	width: 900px;
	margin: 0 auto;
	}
	
#loading {
	position: absolute;
	top: 5px;
	right: 5px;
	}
	
#filter {
	margin-bottom: 20px;
}

#filter select {
	width:150px;	
}

#filter .button {
    font-size: 0.8em;    
}